
{{errorMsg}}
<div>
    <button (click)="handleLogin(input_login, input_password)">Login</button><br>
    <input type="text" [(ngModel)]="input_login"><br>
    <input type="text" [(ngModel)]="input_password"><br>
</div>

<!-- <div class="resume-item d-flex flex-column flex-md-row mb-5">
<div class="resume-content mr-auto">
    <form action="{{ handleLogin(input_login, input_password) }}" method="post">
        <div class="text-center">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Login</label>
                    <input class="form-control" name="login" type="text" placeholder="Login"
                            required data-validation-required-message="Please enter your login." [(ngModel)]="input_login">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Password</label>
                    <input class="form-control" name="password" type="password"
                            placeholder="Password"
                            required data-validation-required-message="Please enter your password." [(ngModel)]="input_password">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg" id="submit_login">Login</button>
            </div>
        </div>
    </form>
    <h3 class="mb-0"><i>Tutaj powinna być jeszcze tabela</i></h3>
    <div class="subheading mb-3">Don't have an account? <a href="/register">Register!</a></div>
</div>
</div> -->

<ul *ngFor="let user of users">
<li> {{user.user_login}} </li>
</ul>
