{% extends "baseSite.html" %}
<html lang="en">
<head>
    {% block head %}
        {{ super() }}
        <meta charset="UTF-8">
        <title>Text Editor - IB, KC, KZ - PK WM 2018</title>
        <link href="../../static/css/divtable.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block content %}
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="createFile">
        <div class="my-auto">
            <h2 class="mb-5">Log in</h2>
            <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet' type='text/css'>
            <link href="https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-item d-flex flex-column flex-md-row">

                    <div class="resume-content mr-auto">
                        <div class="divTable blueTable">
                        <div class="divTableBody">
                        <div class="divTableRow">
                        <div class="divTableCell">MENU</div></div>
                        <div class="divTableRow">
                        <div class="divTableCell">TEXTAREA</div></div>
                        </div>
                    </div>
                </div>

                <div class="resume-content mr-auto">
                    {#                    <form action="{{ url_for('default_view.handle_login') }}" method="post">#}
                    {#                        <div class="text-center">#}
                    {#                            <div class="control-group">#}
                    {#                                <div class="form-group floating-label-form-group controls">#}
                    {#                                    <label>Login</label>#}
                    {#                                    <input class="form-control" name="login" id="login" type="text" placeholder="Login"#}
                    {#                                           required data-validation-required-message="Please enter your login.">#}
                    {#                                    <p class="help-block text-danger"></p>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                            <div class="control-group">#}
                    {#                                <div class="form-group floating-label-form-group controls">#}
                    {#                                    <label>Password</label>#}
                    {#                                    <input class="form-control" name="password" id="password" type="password"#}
                    {#                                           placeholder="Password"#}
                    {#                                           required data-validation-required-message="Please enter your password.">#}
                    {#                                    <p class="help-block text-danger"></p>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                            <br>#}
                    {#                            <div id="success"></div>#}
                    {#                            <div class="form-group">#}
                    {#                                <button type="submit" class="btn btn-success btn-lg" id="submit_login">Login</button>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </form>#}
                    {#                    <!-- <h3 class="mb-0"><i>Tutaj powinna być jeszcze tabela</i></h3> -->#}
                    {#                    <div class="subheading mb-3">Don't have an account? <a href="/register">Register!</a></div>#}
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}

</body>
</html>