<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome page</title>
</head>
<body>
    {% if name %}
        <h2>
            Hello, {{ name }}!
        </h2>

    {% else %}
        <h2>Hi, please enter your name!</h2>
        <form action="/" method="post">
        <table>
            <thead>Name</thead>
            <tr><td><input name="name" type="text"/> </td></tr>
            <tr><td><button name="forwardBtn" type="submit">Go!</button></td></tr>
        </table>
        </form>

    {% endif %}
</body>
</html>