{{errorMsg}}
<div>
    <ul *ngFor="let file of files">
      <li><button (click)="navigateToFile(file.file_id)" class='btn btn-success btn-lg'>{{file.file_name}}<br>{{(file.file_content | slice:0:25)+ "..."}}</button></li>
    </ul>
</div>

<div>
    <button (click)="createFile(file_new_name_input, file_new_content_input)">SAVE - Create File</button><br>
    <input type="text" [(ngModel)]="file_new_name_input"><br>
    <textarea [(ngModel)]="file_new_content_input"></textarea><br>
</div>

<div>
    <button (click)="editFile(current_file_id, file_name_input, file_content_input)">SAVE - Edit File</button><br>
    <input type="text" value="{{file_name}}" [(ngModel)]="file_name_input"><br>
    <textarea value="{{file_content}}" [(ngModel)]="file_content_input"></textarea><br>
</div>
