<button *ngIf="isUserLoggedIn" class="open-button" (click)="openForm()">Chat</button>
<div *ngIf="isUserLoggedIn" class="chat-popup" id="myForm">
    <div class="form-container">
      <h1>Chat</h1>
      <div id="chat-container" class="chat-container">
      </div>
      
      <!-- <select *ngFor="let loggedinuser of LoggedInUsers">
        <option>{{loggedinuser}}</option> WYPEŁNIANIE ZALOGOWANYMI
      </select> -->
      <textarea [(ngModel)]="message_input" placeholder="Type message..." required></textarea>
      <button type="submit" class="btn" (click)="sendMessage(message_input)">Send</button>
      <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
    </div>
</div>